.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
}

input {
  border-radius: 20px;
  height: 30px;
  text-indent: 15px;
  
  font-size: 18px;
  border: 1px solid black;
}

input[type="submit"] {
  width: 150px;
  text-indent: 0px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background-color: cyan;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: darkcyan;
}